@BarBackColor: #000000; // 工具栏背景色
@BarTextColor: #fff; // 工具栏文字颜色
@DefaultBackgroundColor: #ffffff; // 工具栏文字颜色
@DefaultBorderColor: #d9d9d9; // 主文字大小
@DefaultColor: #b3b3b3; // 默认文字颜色
@DefaultContentColor: #333333; // 默认内容色
@DefaultPrimaryThemeColor: #2F2178;
@DefaultTextSize: 14px; // 主文字大小
@EmphasizePrimaryColor: #f33072;
@HorizontalPadding: 12px; // 区块水平内边距
@MoneyBigFontSize: 30px;
@MoneyBigLightHeight: 82px;
@PageDefaultPadding: 20px;
@PanelDefaultMarginBottom: 20px;
@PanelDefaultMarginTop: 20px;
@PanelDefaultPadding: 20px;
@PanelMinNormalHeight: 120px;
@PanelMinSmallHeight: 100px;
@PanelMinWidth: 368px;
@PanelPaddingLeft: 30px;
@PanelSmallMinWidth: 240px;
@PrimaryColor: #30d2f2; // 默认主颜色
@SecondaryColor: #999999; // 默认次颜色
@SmallTextSize: 12px; // 小号文字大小
@TextBlueActiveColor: #30d2f2;
@TextRedActiveColor: #f23072;
@TransitionDuration: .3s; // 默认动画过渡时间
@VerticalPadding: 10px; // 区域垂直内边距

.color1 {
    color: #2f2178;
}

.color2 {
    color: #322d3b;
}

.color3 {
    color: #f38825;
}

.color4 {
    color: #008c6d;
}

.color5 {
    color: #fff;
}

.color6 {
    color: #7d7b87;
}
